@charset "UTF-8";

:root {
  --white: #fff;
  --body-bg: #fafafa;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --light-blue: #0095f6;
  --dark-blue: #385185;
}

.dark {
  --body-bg: #151515;
  --box-bg: #353535;
  --box-border-color: #666565;
  --txt-color: #d2d2d2;
}

.btn-blue {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--light-blue);
  color: var(--white);
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.red-txt {
  color: rgb(237, 73, 86);
  font-weight: 600;
}
