@charset "UTF-8";

.fb-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fb-btn img {
  width: 16px;
  margin-right: 8px;
}

.fb-btn span {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: -3px;
  color: var(--dark-blue);
}
