@charset "UTF-8";

/* 팝업과 오버레이 스타일 추가 */
.profile-popup {
    position: fixed;
    top: 28%;
    left: 81%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    background: #ecf0f3;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: none; /* 기본적으로 숨김 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* 기본적으로 숨김 */
    z-index: 999; /* 팝업보다 아래에 위치 */
}

/* 추가 스타일: 팝업 내부 콘텐츠 */
.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-area {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-area .inner-area {
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: 23px;
    font-weight: 500;
    color: #31344b;
    margin: 10px 0 5px 0;
} 

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons button {
    width: 100%;
    padding: 12px 0;
    color: #31344b;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-share {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
}

.row {
    font-size: 17px;
    cursor: pointer;
}

/* 로그아웃 아이콘 */
.fa-power-off {
      position: absolute;
      top: 20px; /* 화면 상단에서 10px 떨어짐 */
      right: 20px; /* 화면 오른쪽에서 10px 떨어짐 */
      font-size: 20px; /* 아이콘 크기 조정 */
      color: #333; /* 아이콘 색상 */
}